apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: oauth-secure-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/YOUR_USERNAME/YOUR_REPO.git # UPDATE THIS
    targetRevision: HEAD
    path: oauth-setup/k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
